@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: 'Roboto', sans-serif;
	text-decoration-skip-ink: none;
	line-height: 1.2;

	.pagefind-ui {
		width: 100%;
		--pagefind-ui-scale: 1;
		--pagefind-ui-primary: #9fe88d;
		--pagefind-ui-text: #d6d6d6;
		--pagefind-ui-background: #2a303c;
		--pagefind-ui-border: #d6d6d6;
		--pagefind-ui-tag: #eeeeee;
		--pagefind-ui-border-width: 2px;
		--pagefind-ui-border-radius: 8px;
		--pagefind-ui-image-border-radius: 8px;
		--pagefind-ui-image-box-ratio: 3 / 2;
		--pagefind-ui-font: 'Roboto', sans-serif;

		& mark {
			font-weight: bold;
			color: #9fe88d;
			background-color: transparent; /*#f0ff00;*/
			/* padding: 0.1em 0.2em 0.1em 0.2em; */
		}
	}

	.pagefind-ui__result {
		border: 0 !important;
	}

	.pagefind-ui__result-link,
	.pagefind-ui__result-title {
		color: #9fe88d !important;
		text-decoration: underline;
	}

	.pagefind-ui__button {
		border: 0 !important;
		color: #e0eaee;
	}

	.pagefind-ui .pagefind-ui__result-excerpt {
		color: #d6d6d6;
	}
	.pagefind-ui__search-input {
		border: #d6d6d6 solid 1px !important;
	}

	.pagefind-ui__search-input:active {
		border: #9fe88d solid 2px !important;
	}
	.pagefind-ui__search-input::placeholder {
		color: #d6d6d6 !important;
		opacity: 0.7 !important;
	}
}

.popped {
	font-family: 'Outfit', sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

html {
	scroll-behavior: smooth;
}

@layer base {
	h1 {
		@apply text-6xl lg:text-6xl;
		font-weight: 900;
	}

	h2 {
		@apply text-4xl lg:text-5xl;
		font-weight: 700;
		padding-bottom: 0.3rem;
	}

	h3 {
		@apply text-2xl lg:text-3xl;
		font-weight: 600;
	}

	h4 {
		@apply text-xl lg:text-2xl;
		font-weight: 500;
	}

	p,
	li {
		@apply text-base lg:text-base xl:text-base;
	}

	p > a {
		text-decoration: underline;
		text-underline-offset: 0.3rem;
		&:hover {
			color: rgb(163 230 53);
		}
		font-weight: 500;
	}

	/* roboto-latin-400-normal */
	@font-face {
		font-family: 'Roboto';
		font-style: normal;
		font-display: swap;
		font-weight: 400;
		src:
			url(@fontsource/roboto/files/roboto-latin-400-normal.woff2) format('woff2'),
			url(@fontsource/roboto/files/roboto-latin-400-normal.woff) format('woff');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
			U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
			U+FFFD;
	}

	/* roboto-latin-500-normal */
	@font-face {
		font-family: 'Roboto';
		font-style: normal;
		font-display: swap;
		font-weight: 500;
		src:
			url(@fontsource/roboto/files/roboto-latin-500-normal.woff2) format('woff2'),
			url(@fontsource/roboto/files/roboto-latin-500-normal.woff) format('woff');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
			U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
			U+FFFD;
	}

	/* roboto-latin-700-normal */
	@font-face {
		font-family: 'Roboto';
		font-style: normal;
		font-display: swap;
		font-weight: 700;
		src:
			url(@fontsource/roboto/files/roboto-latin-700-normal.woff2) format('woff2'),
			url(@fontsource/roboto/files/roboto-latin-700-normal.woff) format('woff');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
			U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
			U+FFFD;
	}

	/* roboto-latin-900-normal */
	@font-face {
		font-family: 'Roboto';
		font-style: normal;
		font-display: swap;
		font-weight: 900;
		src:
			url(@fontsource/roboto/files/roboto-latin-900-normal.woff2) format('woff2'),
			url(@fontsource/roboto/files/roboto-latin-900-normal.woff) format('woff');
		unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304,
			U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
			U+FFFD;
	}
}
